.our-pluses{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .container .our-pluses-items:not(:last-child) {
    margin-right: 30px;
  }
  .our-pluses-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    .our-pluses-items {
      width: 270px;

      & .text{
        margin: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color:$color-paragraph;
      }
    }

    .our-pluses-heading {
      margin: 0;
      margin-bottom: 10px;
    
      font-family: $font-roboto;
      color: $color-heading;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    .pluses-sprites{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      height: 120px;
      background-color: $color-portfolio-button;
      border-radius: 4px;
    }
  }